name: gh

on:
  push:
    paths:
      - ".github/workflows/gh.yml"

  workflow_dispatch: # manual trigger

jobs:
  github-cli:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - run: env
      - run: gh --version
      - uses: actions/checkout@v4
      - run: gh auth status
      - run: gh repo list
      - run: gh issue list
      - run: gh workflow list
      - run: gh api /repos/:owner/:repo/actions/workflows
